---
function scrollTo() {
   alert("do her");
}
---

<nav class="flex flex-col justify-center">
   <button onclick="scrollTo()">Start</button>
   <button onclick="scrollTo()">Skills</button>
   <button onclick="scrollTo()">Projekte</button>
   <button onclick="scrollTo()">Laufbahn</button>
</nav>

<style>
   nav {
      position: fixed;
      top: 50%;
      left: 5%;
   }

   button {
      text-shadow: 10rem black;
      margin-top: 1rem;
      margin-bottom: 1rem;
   }
</style>
