---
function scrollTo() {
   alert("do her");
}
---

<nav class="flex flex-col justify-center font-oswald">
   <div class="styleblock"></div>
   <button id="start" onclick="scrollTo()">Start</button>
   <button id="skills" onclick="scrollTo()">Skills</button>
   <button id="projects" onclick="scrollTo()">Projekte</button>
   <button id="career" onclick="scrollTo()">Laufbahn</button>
</nav>

<style>
   nav {
      position: fixed;
      height: 100vh;
      width: 15%;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
   }

   .styleblock {
      position: fixed;
      z-index: -100;
      height: 20rem;
      width: 1rem;
      border-radius: 15px;
      background-color: theme(colors.dark);
   }

   button {
      margin-top: 1rem;
      margin-bottom: 1rem;
      transition: all 0.25s;
      transition-timing-function: ease-in-out;
      color: theme(colors.accent);
   }

   button:hover {
      font-size: 2rem;
      font-weight: 500;
      color: theme(colors.accent);
      text-shadow: 4px 3px 0px theme(colors.dark);
   }
</style>
